.page-header{
    font-size: 150%;
    text-align: center;
    font-family: Arial;
}

.chicken, .beef, .sushi{
    border: solid 2px #000000;
    background-color: grey;
    padding: 0px 2px 4px 2px;
    display: table-column;
    float: left;
    width: 30%;
    margin: 0px 15px 0px 15px;
}

.head-chicken, .head-beef, .head-sushi {
    text-align: center;
    font-family: Arial;
    border-bottom: solid 2px #000000;
    border-left: solid 2px #000000;
    float: right;
    padding: 5px 25px 5px 25px;
    min-width: 65px;
}

.head-chicken{
    background-color: #d59898;
}

.head-beef{
    color: white;
    background-color: #c14543;
}

.head-sushi{
    background-color: #e5d198;
}

p{
    font-family: Arial;
    padding: 25px 10px 2px 10px;
}

.main-content{
    display: table-row;
    width:100%;
}
